.clothes__section {
    font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #c279ff;
    text-shadow: -3px -1px 20px rgba(255, 255, 255, 0.8);
}

.clothes__section-heading-container{
    display: flex;
    position: relative;
    margin-top: 17px;
    margin-left: 1px;
    margin-bottom: 10px;
}

.clothes__section-title {
    font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #c279ff;
    text-shadow: -3px -1px 20px rgba(255, 255, 255, 0.8);
}

.clothes__section_add-button {
    /* margin: 0; */
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
    transition: opacity linear 0.2s 0.1s;
    cursor: pointer;
    color: #c279ff;
    text-shadow: -3px -1px 20px rgba(255, 255, 255, 0.8);
    margin-left: 10px;
}

.clothes__section_add-button:hover {
    opacity: .6;
}

.clothes__section-gallery {
    color: #c279ff;
    text-shadow: -3px -1px 20px rgba(255, 255, 255, 0.8);
    padding: 0;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width:1010px;
}