.about__us {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    font-family: "Aleo-Medium",Arial, sans-serif;
    color: #DCDBCD;
    padding: 0px 200px 54px 200px;
  }
  
 @media(max-width: 768px){
    .about__us {
      padding: 0px 80px 59px 80px;
      text-align: center ;
    }
 }
  


 @media(max-width: 320px){
  .about__us {
    padding: 0px 2px 59px 0px;
    text-align: center;
    margin-left: 9px;
    margin-right: -101px;
    font-size: 10px;
  }

}


  .about__title {
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 20px;
  }
    
    .about__top-section {
    background-color: #8c7396;
    padding: 20px;
    border-radius: 72px;
    margin-bottom: 20px;
    box-shadow: 19px 20px 20px rgba(0, 0, 0, 0.6);
  }
    
  .about__bottom-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-top:20px ;
    margin-bottom: 20px;
    text-shadow: 19px 20px 20px rgba(0, 0, 0, 0.6) 
  }
  
  .about__section-title{
    font-size: 24px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #000;
  }
    
  .step {
    font-weight: bold;
  }
    
  .about__paragraph{
    text-indent: 20px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px #000;
  }
  
  .about__paragrap-terms{
    text-indent: -26px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px #000;
    font-size: 12px;
    font-size: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 26px 119px 10px 163px;
    align-content: center;
  }
