.terms{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    font-family: "Aleo-Medium",Arial, sans-serif;
    color: #DCDBCD;
    padding: 0px 200px 16px 200px;
    align-items: center;
}

.terms__title {
    text-shadow: 2px 2px 4px #000;
    margin-bottom: 20px;
}

.terms__section-title{
    font-size: 24px;
    margin-bottom: 7px;
    text-shadow: 1px 1px 2px #000;
}

.terms__paragraph{
    display: flex;
    text-indent: 20px;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px #000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.terms__step{
    font-weight: bold;
}

.terms__paragraph-bottom{
    display: flex;
    margin: 0 auto;
    background: transparent;
    margin-bottom: 15px;
    text-shadow: 1px 1px 2px #000;
    font-size: inherit;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
}