.clothes__section {
    font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: #c279ff;
    text-shadow: -3px -1px 20px rgba(255, 255, 255, 0.8);
}

.clothes__section-heading-container{
    display: flex;
    position: relative;
    margin-top: 17px;
    margin-left: 1px;
    margin-bottom: 10px;
}

.clothes__section-title {
    font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #c279ff;
    text-shadow: -3px -1px 20px rgba(255, 255, 255, 0.8);
}

.oracle__section-button {
    position:relative;
    background-image: url("../../../images/IMG_5239.PNG");
    background-repeat: no-repeat;
    padding: 625px 1334px 608px 706px;
    background-color: transparent;
    border: none;
    transition: opacity linear 0.2s 0.1s;
    cursor: pointer;
    color: #c279ff;
    margin: 2px 5px 16px -655px;
    opacity: .4;
    overflow: hidden;
    border-radius: 50px;
}

.oracle__section-button::after{
    content: '';
    position: absolute;
    top: 50%; 
    left: 50%; 
    width: 100%;
    height: 100%; 
    transform: translate(-50%, -50%) scale(0.9);
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1;
    filter: blur(15px); 
    border-radius: 50%; 
}

.oracle__section-button:hover {
    opacity: 1;
}

.clothes__section-gallery {
    color: #c279ff;
    text-shadow: -3px -1px 20px rgba(255, 255, 255, 0.8);
    padding: 0;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width:1010px;
}