.oracle__section {
  position: relative;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: #c279ff;
  text-shadow: -3px -1px 20px rgba(255, 255, 255, 0.8);
}

.oracle__section-heading-container {
  display: flex;
  position: relative;
}

.oracle__section-title {
  position: absolute;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  font-size: 27px;
  font-weight: 700;
  color: #c279ff;
  text-shadow: 2px 6px 20px rgb(0 0 0);
}

.oracle__section-button {
  position: relative;
  background-image: url("../../../images/main-crystal2.PNG");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  width: 702px;
  height: 584px;
  background-color: transparent;
  border: none;
  transition: opacity linear 0.2s 0.1s;
  cursor: pointer;
  color: #c279ff;
  margin-top: 84px;
  margin-bottom: 37px;
  opacity: .4;
  overflow: hidden;
  border-radius: 50%;
}

.oracle__section-button:not(:disabled)::after {
  content: "";
  position: absolute;
  top: 52%;
  left: 42%;
  width: 80%;
  height: 96%;
  transform: translate(-50%, -52%);
  background: rgba(0, 0, 0, 2.5);
  z-index: -1;
  filter: blur(4px);
  border-radius: 131%;
}

.oracle__section-button:active {
  margin-top: 84px;
  margin-bottom: 37px;
}

.oracle__section-button:not(:disabled):hover {
  opacity: 1;
  margin-top: 84px;
  margin-bottom: 37px;
}

.oracle__section-button:disabled {
  background-image: url("../../../images/mdmoracle-isolated.PNG");
  border-radius: 40%;
  opacity: 1;
  width: 594px;
  height: 533px;
  margin-left: 12px;
  margin-top: 102px;
  margin-bottom: 37px;
  margin-right: 135px;
}

.spinner {
  position: absolute;
  background: transparent;
  background-image: url("../../../images/spinnergalaxy.png");
  background-blend-mode: lighten;
  background-position: center;
  border: 279px solid rgba(0, 0, 0, 0.3);
  border-radius: 131%;
  width: -13px;
  height: -110px;
  animation: spin 2s linear infinite;
  margin: 209px 122px -149px 16px;
  overflow: hidden;
  margin-top: 74px;
  margin-bottom: 37px;
  margin-left: 1px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.user-talking-pulse {
  position: absolute;
  width: 730px;
  height: 730px;
  top: 53%;
  left: 41%;
  transform: translate(-50%, -50%);
  background: rgba(8, 0, 0, 0.8);
  border-radius: 50%;
  animation: pulse 0.8s ease-in-out infinite;
  z-index: -1;
}

.oracle-talking-pulse {
  position: absolute;
  width: 750px;
  height: 750px;
  top: 55%;
  left: 37%;
  transform: translate(-50%, -50%);
  background: rgba(63, 8, 111, 0.553);
  border-radius: 50%;
  animation: pulse 0.7s ease-in-out infinite;
  z-index: -1;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 1;
  }

  70% {
    transform: translate(-50%, -50%) scale(1.5);
    background-color: rgb(89, 175, 251);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}