.main {
    padding: 0px 424px;
    display: flex;
    justify-content: center;
}

.main__title {
    position: absolute;
    font-size: 60px;
    font-family: 700;
    text-align: center;
    margin: -18px -55px 0px;
    font-family: "Tangerine-Regular", Arial, sans-serif;
    color: #c279ff;
    text-shadow: -3px -1px 20px rgba(255, 255, 255, 0.8);
    z-index: -1;
}

.zodiac-display {
    font-size: 150px;
    text-align: center;
    margin: 50px 0px 79px 0px;
}

.zodiac-display__image {
    padding-top: 72px;
    width: 417px;
    height: 423px;
    display: block;
}

@media (max-width: 768px) {
    .main {
        padding: 0px 20px;
    }

    .main__title {
        font-size: 40px;
        margin: -18px -55px 0px;
    }

    .zodiac-display {
        font-size: 100px;
        margin: 50px 0px 79px 0px;
    }

    .zodiac-display__image {
        padding-top: 72px;
        width: 417px;
        height: 423px;
        display: block;
    }
}

@media (max-width: 320px) {
    .main {
        display: flex;
        justify-content: center;
        padding: 0px 20px;
    }

    .main__title {
        font-size: 30px;
        margin: 6px -156px 37px -22px;
    }

    .zodiac-display {
        font-size: 100px;
        margin: -31px 0px 21px 161px;
    }

    .zodiac-display__image {
        padding-top: 72px;
        width: 417px;
        height: 423px;
        display: block;
    }
}