.main {
    padding: 0px 424px;
}

.main__title {
    position: absolute;
    font-size: 60px;
    font-family: 700;
    text-align: center;
    margin: -18px -55px 0px;
    font-family: "Tangerine-Regular", Arial, sans-serif;
    color: #c279ff;
    text-shadow: -3px -1px 20px rgba(255, 255, 255, 0.8);
    z-index: -1;
}

.zodiac-display {
    font-size: 150px;
    text-align: center;
    margin: 50px 0px 79px 0px;
}

.zodiac-display__image {
    padding-top: 72px;
    width: 417px;
    height: 423px;
    display: block;
}