.section__saved-reading{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.section__saved-reading_title{
    font-size: 30px;
}

.section__saved-list{
    justify-content: center;
    width: 100%;
    margin-top: -19px;
}

.section__saved-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
    cursor: pointer;
}

.section__saved-title{
    font-size: 20px;
    font-weight: 500;
    margin-left: -236px;
    opacity: 1;
    transition: opacity linear 0.2s 0.1s;
}

.section__saved-title:hover{
    opacity: .6;
}

.section__reading_button-container{
    display: flex; 
    flex-direction: row;
    width: 100%;
    margin-top: 10px;
    justify-content: flex-end;
}

.section__edit-button{

    width: 100px;
    height: 30px;
    margin: 0px 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.section__delete-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    margin: 0px 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.section__previous-button{
    background-color: transparent;
    border: none;
    color: #d9acff;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.8);
}

.section__previous-button:disabled{
    visibility: hidden;
}

.section__next-button{
    background-color: transparent;
    border: none;
    color:#d9acff;
    font-size: 25px;
    cursor: pointer;
    text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.8);
}

.section__next-button:disabled{
    visibility: hidden;
}