.tiny-popup {
  transition: opacity 0.3s linear;
  opacity: 1.0;

}

.tiny-popup.hidden {
  opacity: 0;
  /* display: none; */
}

.tiny-popup_mic {
  position: fixed;
  bottom: 400px;
  right: 408px;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  background-color: #390d72d4;
  color: white;
  padding: 10px;
  border-radius: 5px;
  opacity: 1.0;
  transition: opacity 0.3s linear, bottom 0.3s ease-in-out;
  text-shadow: -1px 1px 8px rgb(0, 0, 0);
}

.tiny-popup_mic.hidden {
  opacity: 0;
  bottom: 380px;
}

.span_dob {
  position: absolute;
  bottom: 464px;
  right: 307px;
  font-size: 10px;
}

.tiny-popup_dob {
  position: fixed;
  bottom: 570px;
  right: 537px;
  opacity: 1.0;
  transition: opacity 0.3s linear, bottom 0.3s ease-in-out;
}

.tiny-popup_dob.hidden {
  bottom: 562px;
  opacity: 0;
}

.span_birthplace {
  position: absolute;
  bottom: 393px;
  right: 249px;
  font-size: 10px;
}

.tiny-popup_birthplace {
  position: fixed;
  bottom: 500px;
  right: 490px;
  opacity: 1.0;
  transition: opacity 0.3s linear, bottom 0.3s ease-in-out;
}

.tiny-popup_birthplace.hidden {
  bottom: 492px;
  opacity: 0;
}

.span_marital {
  position: absolute;
  bottom: 321px;
  right: 248px;
  font-size: 10px;
}

.tiny-popup_marital {
  position: fixed;
  bottom: 427px;
  right: 509px;
  opacity: 1.0;
  transition: opacity 0.3s linear, bottom 0.3s ease-in-out;
}

.tiny-popup_marital.hidden {
  bottom: 420px;
  opacity: 0;
}

.span_sexual-orientation {
  position: absolute;
  bottom: 250px;
  right: 213px;
  font-size: 10px;
}

.tiny-popup_sexual-orientation {
  position: fixed;
  bottom: 356px;
  right: 417px;
  opacity: 1.0;
  transition: opacity 0.3s linear, bottom 0.3s ease-in-out;
}

.tiny-popup_sexual-orientation.hidden {
  bottom: 350px;
  opacity: 0;
}