.footer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  padding: 20px 20px 50px 20px;
  justify-content: space-between;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  justify-content: space-between;
  margin-top: 20px;
  text-shadow: 8px 2px 20px rgb(0 0 0);
}

@media (max-width: 768px) {
  .footer {
    padding: 5px 5px 5px 5px;
    text-align: center;
    flex-wrap: nowrap;
  }

  .footer__music-attribution{
    margin-top: 26px;
  }
}

@media (max-width: 320px) {
  .footer {
    padding: 5px 5px 5px 5px;
    text-align: center;
    flex-wrap: nowrap;
    /* font-size: 10px; */
  }

  .footer__music-attribution {
    margin-top: 26px;
    font-size: 10px;
  }

  .footer__terms-button {
    font-size: 10px;
  }

  .music__link {
    font-size: 10px;
  }

  .footer__section {
    font-size: 10px;
    margin-left: 64px;
  }

}


.footer__section {
  display: flex;
  flex-direction: row-reverse;
  text-shadow: 7px 6px 20px rgb(0 0 0);
  text-decoration: none;
  margin-right: 10px;
}

.footer__terms-button {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.footer__music-attribution {
  text-shadow: 7px 6px 20px rgb(0 0 0);
  font-size: 13px; 
  margin-top: 10px; 
  text-align: center;
  color: #fff; 
}

.music__link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}